$violet-light: #5A1BA5;
$violet-dark: #461483;
$white: #ffffff;
$grey-light: #868686;
$grey-dark: #424242;
$menu-color: #d7b7ff;
$menu-footer: #B0B0B0;

#categoria-filtro {
    list-style: none;
    padding-left: 0;
}

#sidebar {
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.btn-violet {
    background-color: $violet-light;
    border: none;
    &:hover{
        background-color: $violet-dark;
        border: none;
        color: $white
    }
}

.btn-violet-light {
    background-color: $violet-light;
    color: $white;
    &:hover{
        background-color: $violet-dark;
        border: none;
        color: $white;
    }
}


.btn-border-light {
    border: .0625rem solid $violet-light;
    color: $violet-light;
    &:hover{
        background-color: $grey-light;
        border: none;
        color: $white;
    }
}